body{
    background-color: aqua;
    text-align: center;
    font-family: Garamond,serif;
}

.Container{
    padding-top: 150px;
    position: relative;
}

.Top-Cloud{
    position: absolute;
    right: 450px;
    top: 100px;
}

.Bottom-Cloud{
    position: absolute;
    left: 450px;
    bottom: 330px;
}