body{
    background-color: #B1E1FF;
    text-align: center;
    font-family: Garamond,serif;
    font-size: 1.5em;
    font-style: italic;
    color: #40451E;
}

.Top-Container{
    padding-top: 150px;
    position: relative;
    font-size: 2rem;
}
.Middle-Container{
    margin: 100px 0;
}

.Bottom-Container{
    background-color: #9C9EFE;
    padding: 50px 0 20px;
}
.buttonClass 
{
    font-size:30px;
    font-family: Garamond, serif;
    width:140px;
    height:10px;
    border-width:1px;
    color: black;
    border-color:#9C9EFE;
    font-weight:bold;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    box-shadow: 0px 100px 140px -70px #276873;
    text-shadow: 0px 1px 0px #3d768a;
    background:linear-gradient(#9C9EFE, #A66CFF);
    padding: 10px;
  }
  
.buttonClass:hover 
{
    background: linear-gradient(#408c99, #599bb3);
}

hr{
    border-style: dotted;
    border-bottom: none;
    size: 10px;
    border-width: 5px;
    border-color: #A66CFF;
    width: 5%;
    margin: 100px auto;
}

h1{
    color: #9C9EFE;
}

h3{
    color: #A66CFF;
    font-weight: normal;
    margin-top: auto;
}

a{
    color: black;
    font-weight: bolder;
    padding: 10px;

}
a:hover{
    background: linear-gradient(#408c99, #599bb3);
}
.Skill-Row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 1.5;
}
.Hobbies-Row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 1.5;
}

.Top-Cloud{
    position: absolute;
    right: 450px;
    top: 100px;
}

.Bottom-Cloud{
    position: absolute;
    left: 450px;
    bottom: 330px;
}
.Profile-Image{
    border-radius: 100px;
    height: 200px;
    width: 200px;
    margin: auto;
}
.Dev-Image{
    border-radius: 100px;
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 30px;
}
.Astro-Image{
    border-radius: 100px;
    height: 200px;
    width: 200px;
    float: right;
    margin-left: 20px;
}
.Anime-Image{
    border-radius: 100px;
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 30px;
}
